@model Entities.ViewModels.User.LoginViewModel
@{
    Layout = null;
}
<html>
<head>
    <link href="~/plugins/bootstrap-4.0.0/dist/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="~/plugins/bootstrap-4.0.0/dist/js/bootstrap.min.js"></script>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <link href="~/css/custom/login.css" rel="stylesheet" />
</head>

<body>
<div class="container">
    <div class="card card-container">
        <h1 id="profile-name" class="profile-name-card">WinIt</h1>
        <form asp-action="Login" asp-controller="User" method="post" class="form-signin">
            <input type="hidden" asp-for="ReturnUrl" />
            <span id="reauth-email" class="reauth-email"></span>

            <input asp-for="UserName" type="text" class="form-control" placeholder="Username" required autofocus>
            <div>
                <span asp-validation-for="UserName" class="text-danger"></span>
            </div>

            <input asp-for="Password" type="password" class="form-control" placeholder="Password" required>
            <div>
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>

            <div id="remember" class="checkbox">
                <label>
                    <input type="checkbox" value="remember-me"> Remember me
                </label>
            </div>
            <button class="btn btn-lg btn-primary btn-block btn-signin" type="submit">Sign in</button>
        </form>
        <a asp-action="Create" class="forgot-password form-control">
            Don't have an account? Sign up
        </a>
        <a href="~/" class="forgot-password form-control">
            Go back to home page
        </a>
        @* <a href="#" class="forgot-password"> *@
        @*     Forgot your password? *@
        @* </a> *@
    </div><!-- /card-container -->
</div>
</body>
</html>
