@model Entities.ViewModels.RegisterUserViewModel
@{
    ViewData["Title"] = "RegisterView";
}

<script src="~/lib/jquery/dist/jquery.js"></script>
<script>
    $(document).ready(function () {
        var currentStep = 1;

        function goForward() {
            if (currentStep == 4)
                return;
            else {
                $(`.progressbar li:nth-child(${currentStep})`).removeClass("active");
                currentStep++;
                $(`.progressbar li:nth-child(${currentStep})`).addClass("active");
            }
        }

        function goBack() {
            if (currentStep == 1)
                return;
            else {
                $(`.progressbar li:nth-child(${currentStep})`).removeClass("active");
                currentStep--;
                $(`.progressbar li:nth-child(${currentStep})`).addClass("active");
            }
        }

        $("#previousStep").click(function () {
            goBack(currentStep);
        });

        $("#nextStep").click(function () {
            goForward(currentStep);
        });
    });
</script>

<head>
    <style>

        .progressbar {
            counter-reset: step;
        }

            .progressbar li {
                list-style-type: none;
                width: 25%;
                float: left;
                font-size: 12px;
                position: relative;
                text-align: center;
                text-transform: uppercase;
                color: #7d7d7d;
            }

                .progressbar li:before {
                    width: 30px;
                    height: 30px;
                    content: counter(step);
                    counter-increment: step;
                    line-height: 30px;
                    border: 2px solid #7d7d7d;
                    display: block;
                    text-align: center;
                    margin: 0 auto 10px auto;
                    border-radius: 50%;
                    background-color: white;
                }

                .progressbar li:after {
                    width: 100%;
                    height: 2px;
                    content: '';
                    position: absolute;
                    background-color: #7d7d7d;
                    top: 15px;
                    left: -50%;
                    z-index: -1;
                }

                .progressbar li:first-child:after {
                    content: none;
                }

                .progressbar li.active {
                    color: blue;
                }

                    .progressbar li.active:before {
                        border-color: blue;
                    }

                    .progressbar li.active + li:after {
                        background-color: blue;
                    }
    </style>
</head>


<div class="col-md-12">
    <div class="box box-primary">
        <div class="box-header with-border">
            <h3 class="box-title"><i class="fa fa-plus-circle"></i>&nbsp; Register</h3>
        </div>
        <div class="box-body">

            <div class="row">


                <div class="container">
                    <button id="previousStep">Previous</button>

                    <ul class="progressbar">
                        <li class="active">Account</li>
                        <li>Profile</li>
                        <li>Permissions</li>
                        <li>Finish</li>
                    </ul>

                    <button id="nextStep">Next</button>
                </div>
            </div>

            <form method="post" asp-controller="User" asp-action="Register">
                <div class="form-group">
                    <button type="submit" class="btn btn-primary btn-flat" style="width: 48%;">
                        <i class="fa fa-plus-circle"></i>&nbsp; Register
                    </button>
                    <a class="btn btn-default btn-flat" asp-controller="" style="width: 48%; float: right;" asp-action=""><i class="fa fa-arrow-left"></i>&nbsp; Back to List</a>
                </div>
            </form>

            @*<form method="post" asp-controller="User" asp-action="Register">*@

            @* <div class="col-md-4"> *@
            @* *@
            @*     <div class="form-group"> *@
            @*         <input asp-for="UserID" id="userID" type="hidden" class="form-control" readonly="readonly" /> *@
            @*     </div> *@
            @* *@
            @*     <div class="form-group"> *@
            @*         <label>First name</label> *@
            @*         <input asp-for="FirstName" id="firstName" type="text" class="form-control" readonly="readonly" /> *@
            @*         <span asp-validation-for="FirstName" class="text-danger"></span> *@
            @*     </div> *@
            @* *@
            @*     <div class="form-group"> *@
            @*         <label>Surname</label> *@
            @*         <input asp-for="LastName" id="surname" type="text" class="form-control" readonly="readonly" /> *@
            @*         <span asp-validation-for="LastName" class="text-danger"></span> *@
            @*     </div> *@
            @* *@
            @*     <div class="form-group"> *@
            @*         <label>E-mail</label> *@
            @*         <input asp-for="LoginEmail" id="loginMail" type="text" class="form-control" readonly="readonly" /> *@
            @*         <span asp-validation-for="LoginEmail" class="text-danger"></span> *@
            @*     </div> *@
            @* *@
            @*     <div class="form-group"> *@
            @*         <label>Branch</label> *@
            @*         <select asp-for="BranchID" *@
            @*                 asp-items="@ViewBag.Branches" class="form-control"> *@
            @*             <option value="">Select branch</option> *@
            @*         </select> *@
            @*         <span asp-validation-for="BranchID" class="text-danger"></span> *@
            @*     </div> *@
            @* *@
            @*     <div class="form-group"> *@
            @*         <label>Department</label> *@
            @*         <select id="departmentID" class="form-control"> *@
            @*             <option value="">Select Department</option> *@
            @*         </select> *@
            @*         <span asp-validation-for="DepartmentID" class="text-danger"></span> *@
            @*     </div> *@
            @* *@
            @* *@
            @*     <div class="form-group"> *@
            @*         <label>Country</label> *@
            @*         <select asp-for="Address.CountryID" *@
            @*                 asp-items="@ViewBag.Country" class="form-control" id="countryID"> *@
            @*             <option value="">Select Country</option> *@
            @*         </select> *@
            @*         <span asp-validation-for="Address.CountryID" class="text-danger"></span> *@
            @*     </div> *@
            @* *@
            @* *@
            @*     <div class="form-group"> *@
            @*         <label>City</label> *@
            @*         <select asp-for="Address.CityID" *@
            @*                 class="form-control" id="cities"> *@
            @*             <option value=""></option> *@
            @*         </select> *@
            @*         <span asp-validation-for="Address.CityID" class="text-danger"></span> *@
            @*     </div> *@
            @* *@
            @*     <div class="form-group"> *@
            @*         <label>Street</label> *@
            @*         <input asp-for="Address.Street" type="text" class="form-control" /> *@
            @*         <span asp-validation-for="Address.Street" class="text-danger"></span> *@
            @*     </div> *@
            @* *@
            @*     <div class="form-group"> *@
            @*         <label>Zip Code</label> *@
            @*         <input asp-for="Address.ZipCode" type="text" class="form-control" /> *@
            @*         <span asp-validation-for="Address.ZipCode" class="text-danger"></span> *@
            @*     </div> *@
            @* *@
            @*     <div class="form-group"> *@
            @*         <button type="submit" class="btn btn-primary btn-flat" style="width:48%;"> *@
            @*             <i class="fa fa-plus-circle"></i>&nbsp; Register *@
            @*         </button> *@
            @*         <a class="btn btn-default btn-flat" asp-controller="Client" style="width:48%; float:right;" asp-action="Index"><i class="fa fa-arrow-left"></i>&nbsp; Back to List</a> *@
            @*     </div> *@
            @* </div> *@
            @*</form>*@
        </div>
    </div>
</div>

<script src="~/js/user/register-user.js"></script>
<script src="~/js/NewFolder/location.js"></script>

<script>
</script>
