@model Entities.ViewModels.Role.CreateRoleViewModel
@{
    ViewData["Title"] = "- Create roles";
}

<section class="content-header">
    <h1>
        Roles
        <small>Create new role</small>
    </h1>
    <ol class="breadcrumb">
        <li>
            <a href="#"><i class="fa fa-dashboard"></i> Home</a>
        </li>
        <li class="active">Roles</li>
        <li class="active">Create roles</li>
    </ol>
</section>
<section class="content">
    <div class="row">
        <div class="col-md-12 ">
            <div class="box box-danger">
                <div class="box-body">
                    <div class="form-horizontal">
                        <div class="col-md-4">
                            <form asp-action="Create">
                                <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                                <div class="form-group">
                                    <label>Name</label>
                                    <input asp-for="Name" id="name" type="text" class="form-control"/>
                                    <span asp-validation-for="Name" class="text-danger"></span>
                                </div>

                                <div class="form-group">
                                    <label>Description</label>
                                    <input asp-for="Description" id="description" type="text" class="form-control"/>
                                    <span asp-validation-for="Description" class="text-danger"></span>
                                </div>

                                <div class="form-group">
                                    <button type="submit" class="btn btn-primary btn-flat" style="width: 48%; margin-right: 2%; background-color: #34495e">
                                        <i class="fa fa-plus-circle"></i>&nbsp; Create
                                    </button>
                                    <a asp-controller="Role" asp-action="Index" class="btn btn-default btn-flat" style="width: 48%;">
                                        <i class="fa fa-arrow-left"></i> Go back to Index
                                    </a>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>