@model Entities.Models.GameSettings
@using Common.Extensions

<link rel="stylesheet" href="~/plugins/bootstrap-4.0.0/js/dist/popover.js">

<!-- Modal -->
<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title" id="exampleModalLongTitle">Game Details</h3>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-group">
                        <span>Id: </span><label> @Model.GameSettingId</label><br/>
                        <span>Game length (in minutes): </span> <label> @Model.GameLength</label><br/>
                        <span>Created at: </span> <label> @Model.CreatedAt.ToReadableDate()</label><br/>
                        <span>Updated at: </span> <label> @Model.UpdateAt.ToReadableDate()</label><br/>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal"><i class="fa fa-arrow-left"></i>&nbsp; Close</button>
            </div>
        </div>
    </div>
</div>