@model Entities.ViewModels.GameSettings.UpdateGameSetting

<section class="content-header">
    <h1>
        Game Settings
        <small>Edit Game Settings</small>
    </h1>
    <ol class="breadcrumb">
        <li>
            <a href="#"><i class="fa fa-dashboard"></i> Home</a>
        </li>
        <li class="active">Game Settings</li>
        <li class="active">Edit Game Settings</li>
    </ol>
</section>
<div class="content">
    <div class="box box-danger">
        <div class="box-header with-border">
            <h3 class="box-title"><i class="fa fa-pencil"></i>&nbsp; Edit GameSettings</h3>
        </div>
        <div class="box-body">
            @if (Model != null)
            {
                <form method="post" asp-controller="GameSettings" asp-action="Edit">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="col-md-5">
                        <div class="form-group">
                            <label>Game length:</label>
                            <input asp-for="GameLength" type="number" class="form-control" value="@Model.GameLength"/>
                            <span asp-validation-for="GameLength" class="text-danger"></span>
                        </div>

                        <div class="form-group">
                            <label>Winning pot:</label>
                            <input asp-for="WinningPot" type="number" class="form-control" value="@Model.WinningPot"/>
                            <span asp-validation-for="WinningPot" class="text-danger"></span>
                        </div>

                        <input type="hidden" value="@Model.GameSettingId" asp-for="GameSettingId"/>
                        <div class="form-group">
                            <button type="submit" class="btn btn-primary btn-flat" style="width: 48%;">
                                <i class="fas fa-edit"></i>&nbsp; Save
                            </button>
                            <a class="btn btn-default btn-flat" style="width: 48%; float: right;"
                               asp-controller="GameSettings" asp-action="Index">
                                <i class="fa fa-arrow-left">
                                </i>&nbsp; Cancel
                            </a>
                        </div>
                    </div>
                </form>
            }
            else
            {
                <label class="label-danger">Game Settings not found!</label>
            }
        </div>
    </div>
</div>
