<footer class="main-footer">
    <div class="pull-right hidden-xs">
        <a href="#">Contact</a> | <a href="#">About us</a>
    </div>
    <strong>Copyright &copy; 2018 FIEK All rights reserved. </strong>
</footer>