<header class="main-header">
    <!-- Logo -->
    <a href="~/" class="logo">
        <!-- mini logo for sidebar mini 50x50 pixels -->
        <span class="logo-mini">
            <img src="favicon.ico" width="25" height="25"/>
        </span>
        <!-- logo for regular state and mobile devices -->
        <span class="logo-lg">
            <img src="~/favicon.ico" width="25" height="25" style="margin-bottom: 5px" alt=""/>
            <b>WinIt</b>
        </span>
    </a>

    @await Html.PartialAsync("_MenuBar")
</header>
